

#clockContainer {
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock1.jpeg) no-repeat center center;
    background-size: 100%;
    border: 2px solid gray;
    /* border-radius: 50%; */
}

#hour, #minutes, #second {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: rotate(0deg);
    background-color: black;
    border-radius: 6px;
}

#hour {
    height: 17%;
    width: 1.6%;
    z-index: 3;
}


#minutes {
    height: 20%;
    width: 1.2%;
    z-index: 3;
}


#second {
    height: 12%;
    width: 0.5%;
    background-color: #111;
    z-index: 1;
}
